@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    /* borda fazer parte da conta de largura */
    box-sizing: border-box;
}

body, html {
    /* cor de fundo */
    background-color: #5f2c82;
    /* altura e largura 100% da tela, tela cheia */
    height: 100vh;
    width: 100vw;
}

main {
    /* centralizar */
    position: relative;
    /* tela cheia, 100% da altura do navegador */
    height: 100vh;
    /* 100% da largura do navegador */
    width: 100vw;
}

section#login {
    /* para ficar no meio da tela mesmo se aumentar tamanho da tela */
    position: absolute;
    top: 50%;
    left: 50%;
    
    /* tudo que tiver fora da borda, ficará escondido */
    overflow: hidden;

    /* fundo branco */
    background-color: white;
    /* largura e altura da imagem */
    width: 250px;
    height: 515px;
    /* bordas arredondadas */
    border-radius: 20px;
    /* sombra nas bordas */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transform: translate(-50%, -50%);
    /* animação durante transição de tamanho de tela */
    transition: width 0.3s, height 0.3s;
    /* suaviza a animação */
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    /* pega a imagem na section criada em index.html e no-repeat p/nao repetir imagem  */
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    /* display block apenas por estrategia, nao entendi se vai usar mais tarde */
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    /* centraliza o texto "Login" */
    text-align: center;
    /* margem abaixo do texto "login" */
    margin-bottom: 10px ;
}

div#formulario > p {
    /* tamanho da fonte Seja bem-vindo(a)... */
    font-size: 0.8em;
}

/* campo seu e-mail e sua senha */
form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    /* em cima e embaixo, com 5px e esquerda e direita 0px */
    margin: 5px 0px;
}

/* esconder label email e senha */
div.campo > label {
    display: none;
}

/* caixa seu e-mail e sua senha */
div.campo > i {
    /* icones brancos */
    color: white;
    /* background-color: black; */
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

/* campos que informar email e senha */
div.campo > input {
    background-color: #94cfcd;
    font-size: 1em;
    /* calculo para encaixar input e-mail e senha*/
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    /* transform animação, sempre ultima linha, senao pode dar problema dispositivos moveis */
    transform: translateY(-12px);
}

/* quando for informar email e senha o foco fica branco */
div.campo > input:focus-within {
    background-color: white;
}

/* botao Entrar */
form > input[type=submit] {
    display: block;
    font-size: 1em;
    /* 100% do container, vw é do total */
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    /* sem borda */
    border: none;
    border-radius: 5px;
    /* quando passar o mouse vira uma mãozinha */
    cursor: pointer;
}

/* quando passar o mouse por cima */
form > input[type=submit]:hover {
    background-color: #2d6462;
}

/* link da classe botão */
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    /* para separar o botão Entrar do botão Esqueci a Senha */
    margin-top: 5px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 7px;
    /* tirar sublinhado */
    text-decoration: none;
}

/* mudar cor do botão Esqueci a senha, quando passar o mouse */
form > a.botao:hover {
    background-color: #6cd3cf;
}

/* icone do botão Esqueci a senha */
form > a.botao > i {
    /* tamanho da fonte */
    font-size: 0.8em;
}